.first-step-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .tesla-car-form {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
}